
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<h1>Bienvenido</h1>
<p>Fecha y hora actual @ViewData["DateNow"] <p/>
<body>
    <div> 
    </div>
</body>
</html>
