
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<h1>ABOUT US</h1>
<body>
    <div> 
        <a href="GotoHome">IR A HOME </a>
    </div>
</body>
</html>
