
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GotoHome</title>
</head>
<h1>HOME</h1>
<body>
    <div> 
        <a href="AboutUs">IR A ABOUT US </a><br/>
        <a href="SeeProduct">IR A PRODUCT </a>
    </div>
</body>
</html>
